<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Dico - {{ page.title }}</title>

    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/pygment_trac.css">
    <script src="javascripts/scale.fix.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1 class="header">Dico</h1>
        <p class="header">A service container in javascript.</p>

        <p><ul>
          <li><a href="{{ site.baseurl }}/index.html">Get Started</a></li>
          <li><a href="{{ site.baseurl }}/examples.html">Examples</a></li>
          <li><a href="{{ site.baseurl }}/services.html">Available services</a></li>
        </ul><p>

        <ul class="buttons">
          <li><a class="buttons github" href="https://github.com/guilro/dico">View On GitHub</a></li>
        </ul>

        <p class="header">This project is maintained by <a class="header name" href="https://github.com/guilro">guilro</a></p>


      </header>
      <section>
        {{ content }}
      </section>
    </div>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
      try {
        var pageTracker = _gat._getTracker("UA-38236861-5");
      pageTracker._trackPageview();
      } catch(err) {}
    </script>
  </body>
</html>
